* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  margin-top: 20px;
}

.container {
  background-color: rgba(245, 222, 179, 0.267);
  text-align: center;
  margin-top: 50%;
}

 input {
     padding: 5px;
     border-radius: 50px;
     margin-right: 2vh;
 }


input {
  margin-right: 30px;
  cursor: grab;
  border-radius: 50px;
}

.rockChoice {
  background-color: rgb(218, 66, 66);
  color: whitesmoke;
  width: 25%;
  font-weight: bold;
}

.paperChoice {
  background-color: whitesmoke;
  color: rgb(71, 65, 65);
  width: 25%;
  font-weight: bold;
}

.scissorChoice {
  background-color: silver;
  color: rgb(71, 65, 65);
  width: 25%;
  font-weight: bold;
}
